# Maven
/target/

# IntelliJ / Eclipse
/.idea/
*.iml
.project
.classpath
.settings/
*.log
logs/
*/test-execution.log

# Allure
allure-results/
allure-report/

# OS
.DS_Store
src/test/resources/config.local.properties
