# Maven
/target/

# IntelliJ / Eclipse
/.idea/
.project
.classpath
.settings/
*/test-execution.log

# Allure
allure-results/
allure-report/

# OS
.DS_Store

# Maven
target/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.iml
